ai-agent-automation-n8n-langgraph/email-workflow/n8n/이메일 작성 봇.json
{
  "name": "이메일 작성 봇",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "당신은 이메일 작성 도우미입니다. 사용자의 질문을 바탕으로 사용자에게 필요한 이메일을 작성해주세요."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        112,
        -16
      ],
      "id": "1a86b85c-874b-4b44-ae09-f96933ee4843",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        208
      ],
      "id": "8cc33a24-fe2b-4606-b1a8-3f01f07193cc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wNiD0EwLelpyE72g",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.session_id }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        248,
        208
      ],
      "id": "722c27c7-ee25-4ab6-b9f2-12b6c61c6628",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "904f4a81-fbcb-4d17-983b-a7d73b5c207b",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -112,
        -16
      ],
      "id": "c8bad854-6200-446a-aca9-0e92e8437b53",
      "name": "Webhook",
      "webhookId": "904f4a81-fbcb-4d17-983b-a7d73b5c207b",
      "credentials": {
        "httpHeaderAuth": {
          "id": "e0moRhkG9PNpJ4wO",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        464,
        -16
      ],
      "id": "7dddc009-4552-4561-9d11-4fd12756af21",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1bbcb280-8489-4430-a437-e38cc407101a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3bdfb9017b4b4725cc8e39f859c9612d2f76448bfc2cd8d87fa50f3184384837"
  },
  "id": "bP2EjNylk4My9c7B",
  "tags": []
}