ai-agent-automation-n8n-langgraph/이메일 작성 도우미.json
{
  "name": "이메일 작성 도우미",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -96
      ],
      "id": "16c28fa4-e58d-4486-986d-a93d04189ab2",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "cBlqPw8iYmtPHFqg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        232,
        128
      ],
      "id": "5576c4f2-14a6-4a0f-8774-6a0a67098436",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wNiD0EwLelpyE72g",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"need_reply\": {\n\t\t\t\"type\": \"boolean\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        360,
        128
      ],
      "id": "59545909-5332-4af0-9a16-3f0de58ea0fb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=아래 이메일을 보고 답장이 필요한 지 확인해주세요. \n\n1. 업무협업 메일은 가급적이면 답장을 해야 합니다.\n\n이메일 내용:\n{{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "당신의 업무는 이메일에 답장을 해야하는지 말아야 하는지 결정하는 것입니다. 답장이 필요하다면 true, 답장이 필요없으면 false 를 리턴해주세요."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        224,
        -96
      ],
      "id": "d274d05c-3979-437c-8d46-4a871b4f00e2",
      "name": "답장 여부 판단"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f9d25234-fa1e-4a75-b9ef-82ec7d463152",
              "leftValue": "={{ $json.output.need_reply }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        -96
      ],
      "id": "db42fd4f-0976-4ef3-8cd2-bec1092203e6",
      "name": "답장해야 한다면?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=아래 이메일을 보고 답장을 작성해주세요.\n\n최근 메일:\n{{ $('Gmail Trigger').item.json.text }}\n\n이메일 히스토리:\n{{ $json.messages.filter(item => item.snippet) }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1024,
        -96
      ],
      "id": "c403e573-db62-422c-97f0-d4aa5a7cef22",
      "name": "이메일 답장 작성"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        800,
        -96
      ],
      "id": "5d7ebac5-695c-4796-84da-355826db1d42",
      "name": "Get a thread",
      "webhookId": "a700db05-6dd1-4096-9e45-3045927f4a36",
      "credentials": {
        "gmailOAuth2": {
          "id": "cBlqPw8iYmtPHFqg",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-2025-04-14"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1032,
        128
      ],
      "id": "5661d383-73bb-417d-9c83-ecb8c94de893",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "wNiD0EwLelpyE72g",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"title\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"content\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1160,
        128
      ],
      "id": "93d40f93-2eb0-43d9-a415-6680850924ba",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.output.title }}",
        "message": "={{ $json.output.content }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1376,
        -96
      ],
      "id": "9f8afb91-3ba2-427b-b6e2-dfa71e4ba2d6",
      "name": "Create a draft",
      "webhookId": "5f633cc5-f4a9-4a84-ba37-f86eb7b05d0c",
      "credentials": {
        "gmailOAuth2": {
          "id": "cBlqPw8iYmtPHFqg",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "답장 여부 판단",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "답장 여부 판단",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "답장 여부 판단",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "답장 여부 판단": {
      "main": [
        [
          {
            "node": "답장해야 한다면?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "답장해야 한다면?": {
      "main": [
        [
          {
            "node": "Get a thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a thread": {
      "main": [
        [
          {
            "node": "이메일 답장 작성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "이메일 답장 작성",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "이메일 답장 작성",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "이메일 답장 작성": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c2d60f8b-3414-4a55-89ad-87b62917d895",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3bdfb9017b4b4725cc8e39f859c9612d2f76448bfc2cd8d87fa50f3184384837"
  },
  "id": "7dLXe844fJWCj6JO",
  "tags": []
}